#popup-addcustomergroup.popup-add 
    .popup-main
        .popup-header 
            h1 Thêm mới Nhóm Khách hàng
        .popup-body
            form.wrap-form(action="")
                .form-group 
                    label(for="") Nhóm Khách hàng
                    input.form-control(type="text" placeholder='Nhóm KH1')
                .form-group 
                    button.btn.btn-submit.ms-auto 
                        span Thêm mới