#popup-addgiftgroup.popup-add 
    .popup-main
        .popup-header 
            h1 Thêm mới Nhóm Giải thưởng
        .popup-body
            form.wrap-form.row(action="")
                .form-group.col-lg-12 
                    label(for="") Nhóm Giải thưởng                
                    .custom-select
                        select.form-control(name='')
                            option(value="0" disable hidden selected) Giải 2 ngày 11/10
                            option(value="1") Giải 2 ngày 11/10
                            option(value="2") Giải 2 ngày 11/10
                .form-group.col-lg-12 
                    button.btn.btn-submit.ms-auto 
                        span Thêm mới