#popup-editgift.popup-add 
    .popup-main
        .popup-header 
            h1 Sửa đổi Giải thưởng
        .popup-body
            form.wrap-form.row(action="")
                .form-group.col-lg-12 
                    label(for="") Tên giải thưởng
                    input.form-control(type="text" placeholder='Nhập tên giải thưởng' value='Giải 1')
                .form-group.col-lg-6 
                    label(for="") Hình ảnh
                    label.custom-file-label(for="") 
                        img.img(src="./images/bg-review.jpg", alt="")
                        span Url
                        img.icon(src="./images/icons/cloud-upload.svg", alt="")
                    input.custom-file-input#customFile(type="file", name="") 
                .form-group.col-lg-6 
                    label(for="") Vị trí giải thưởng
                    input.form-control(type="text" placeholder='Vị trí giải thưởng' value='2')
                .form-group.col-lg-6 
                    label(for="") Cho phép trúng
                    .custom-select
                        select.form-control(name='')
                            option(value="0" disable hidden selected) True
                            option(value="1") True
                            option(value="2") False
                .form-group.col-lg-6 
                    label(for="") Tỉ lệ trúng (%)
                    input.form-control(type="text" placeholder='Tỉ lệ trúng (%)' value='100')
                .form-group.col-lg-6 
                    label(for="") Số lượng
                    input.form-control(type="text" placeholder='1' value='1')
                .form-group.col-lg-6 
                    label(for="") Ẩn giải
                    .custom-select
                        select.form-control(name='')
                            option(value="0" disable hidden selected) True
                            option(value="1") True
                            option(value="2") False
                .form-group.col-lg-12 
                    button.btn.btn-submit.ms-auto 
                        span Thêm mới