#popup-editcustomer.popup-add 
    .popup-main
        .popup-header 
            h1 Sửa danh sách Khách hàng
        .popup-body
            form.wrap-form.row(action="")
                .form-group.col-lg-6 
                    label(for="") Tên Khách hàng
                    input.form-control(type="text" placeholder='Nhập họ và tên' value='Nguyễn Ngọc Yến Nhi')
                .form-group.col-lg-6 
                    label(for="") Mã khách hàng
                    input.form-control(type="text" placeholder='Nhập mã khách hàng' value='123456')
                .form-group.col-lg-6 
                    label(for="") Số lượt quay
                    input.form-control(type="text" placeholder='Số lượt quay' value='2')
                .form-group.col-lg-6 
                    label(for="") Vô hiệu hóa
                    .custom-select
                        select.form-control(name='')
                            option(value="0" disable hidden) True
                            option(value="1") True
                            option(value="2" selected) False
                .form-group.col-lg-12 
                    button.btn.btn-submit.ms-auto 
                        span Cập nhật