#sidebar-nav
    .sidebar
        ul.side-nav
            li.side-item.active
                a(href="index.html") 
                    img.icon(src="./images/icons/side-2.svg", alt="")
                    span Chiến lược
            li.side-item
                a(href="nhom-khach-hang.html") 
                    img.icon(src="./images/icons/side-3.svg", alt="")
                    span Nhóm khách hàng
            li.side-item
                a(href="quan-ly-giai-thuong.html") 
                    img.icon(src="./images/icons/side-4.svg", alt="")
                    span Giao diện & Giải thưởng
            li.side-item
                a(href="giao-dien-vong-quay.html") 
                    img.icon(src="./images/icons/side-6.svg", alt="")
                    span Giao diện vòng quay
            li.side-item
                a(href="lich-su-chien-luoc.html")
                    img.icon(src="./images/icons/side-5.svg", alt="")
                    span Lịch sử chiến lược
            