header 
    .wrap-header.d-flex.align-items-center
        .wrap-header-left.d-flex.align-items-center
            a.wrap-header-left_icon.d-flex.align-items-center.justify-content-center(href="/") 
                img(src="./images/icons/window.svg", alt="") 
            h1 
                a.wrap-header-left_logo(href="/")
                    img(src="./images/logo.svg", alt="")
        .wrap-header-center 
            .caption 
                p Quản lý vòng quay may mắn
        .wrap-header-right.d-flex.align-items-center.ms-auto
            .wrap-list-user 
                ul.d-flex.align-items-center 
                    li.nav-item
                        a.username.d-flex.align-items-center(href="thong-tin-khach-hang.html") 
                            p Khoa 
                            img(src="./images/avatar.png", alt="")
                    li.nav-item 
                        a.logout(href="") 
                            img(src="./images/icons/logout.svg", alt="")

