section.home-1 
    .wrapper-container.d-flex.align-items 
        .wrap-left 
            .wrap-left_header.d-flex.align-items.justify-content-between 
                h1.section-title
                    img(src="./images/icons/side-2.svg", alt="") 
                    |&nbsp; Chiến lược
                a.btn-add(href="tao-chien-luoc.html") 
                    em.material-icons add &nbsp;
                    span Thêm mới
            .wrap-left_body 
                ul
                    li
                        .title-item 
                            a.title(href="") Chiến lược Test
                        .action-item 
                            a.edit(href="") 
                                img(src="./images/icons/edit.svg", alt="")
                            a.delete(href="") 
                                img(src="./images/icons/trash.svg", alt="")
                    li
                        .title-item 
                            a.title(href="") Nội bộ khách hàng
                        .action-item 
                            a.edit(href="") 
                                img(src="./images/icons/edit.svg", alt="")
                            a.delete(href="") 
                                img(src="./images/icons/trash.svg", alt="")
                    li
                        .title-item 
                            a.title(href="") Chiến lược khách hàng 2
                        .action-item 
                            a.edit(href="") 
                                img(src="./images/icons/edit.svg", alt="")
                            a.delete(href="") 
                                img(src="./images/icons/trash.svg", alt="")
        .wrap-right 
            .wrap-right_header 
                a(href="") 
                    img(src="./images/circle-review.jpg", alt="")
            .wrap-right_body 
                ul
                    li
                        .title 
                            p Tên chiến lược
                        .content
                            p Chiến lược test
                    li
                        .title 
                            p Nhóm khách hàng
                        .content
                            p Nhóm KH 1
                    li
                        .title 
                            p Nhóm giải thưởng
                        .content
                            p Nhóm giải ABC
                    li
                        .title 
                            p Người tạo
                        .content
                            p Nguyễn Văn A
                    li
                        .title 
                            p Ngày bắt đầu
                        .content
                            p 28/03/2022 4:15:50 AM
                    li
                        .title 
                            p Ngày kết thúc
                        .content
                            p 28/03/2022 4:15:50 AM
