.home-1
    .wrapper-container
        .wrap-left
            max-width: 1176px
            width: 100%
            padding: 24px
            background: #FFFFFF
            border: 1px solid #D3D8DE
            border-radius: 8px
            margin-right: 12px
            &_header
                padding-bottom: 24px
                margin-bottom: 24px
                border-bottom: 1px solid #D3D8DE
                .section-title
                    display: flex
                    align-items: center
                    padding-bottom: 0
                .btn-add
                    display: flex
                    align-items: center
                    padding: 4px 8px 4px 6px
                    background: #FFC20E
                    border-radius: 4px
                    span
                        font-weight: 600
                        color: #454F5B
            &_body
                ul
                    display: flex
                    align-items: center
                    flex-wrap: wrap
                    li
                        padding: 20px
                        flex: 0 0 100%
                        display: flex
                        align-items: center
                        justify-content: space-between
                        background: #F6F7F8
                        border-radius: 8px
                        cursor: pointer
                        transition: all .3s ease-in-out
                        .title-item
                            .title
                                font-weight: 600
                                font-size: 20px
                                color: #454F5B
                                transition: all .3s ease-in-out
                        .action-item
                            a
                                margin-left: 15px
                        &:hover
                            background: #FFF0E5
                            .title-item
                                .title
                                    color: #D12421
                                    font-weight: 700
                    li + li
                        margin-top: 16px
        .wrap-right
            max-width: 562px
            width: 100%
            padding: 16px
            background: #FFFFFF
            border: 1px solid #D3D8DE
            border-radius: 8px
            margin-left: 12px
            &_header
                margin-bottom: 16px
                a
                    +img-ratio(286/530)
                    img
                        border-radius: 8px
            &_body
                ul
                    display: flex
                    align-items: center
                    flex-wrap: wrap
                    margin-left: -8px
                    margin-right: -8px
                    li
                        flex: 0 0 50%
                        padding: 0 8px
                        .title
                            padding: 12px 0
                            p
                                font-weight: 600
                                font-size: 16px
                                color: #D4470F
                        .content
                            background: #F8F9FA
                            border-radius: 5px
                            padding: 10px 13px
                            p
                                color: #454F5B
        @media screen and ( max-width: 1199.98px )
            .wrap-left,
            .wrap-right
                max-width: 50%
        @media screen and ( max-width: 992.98px )
            flex-wrap: wrap
            .wrap-left,
            .wrap-right
                max-width: 100%
                margin: 0
            .wrap-left
                margin-bottom: 24px
        @media screen and ( max-width: 600.98px )
            .wrap-left
                padding: 16px
                &_header
                    padding-bottom: 16px
                    margin-bottom: 16px
                    .btn-add
                        padding: 8px
                        span
                            font-size: 12px
                &_body
                    ul
                        li
                            .title-item
                                .title
                                    font-size: 14px
            .wrap-right
                &_body
                    ul
                        li
                            .title
                                p
                                    font-size: 14px
                            .content
                                p
                                    font-size: 10px
