section.step-section 
    .wrapper-container
        ul.progress-wrap
            li.step.active
                a.step_child(href="tao-chien-luoc.html")
                    .icon.created
                            img(src="./images/icons/c-1.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-1.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-1.svg", alt="")
                    .content
                        p
                            b Bước 1
                        p Tạo chiến lược 
            li.step 
                a.step_child(href="chon-nhom-khach-hang.html")
                    .icon.created
                            img(src="./images/icons/c-2.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-2.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-2.svg", alt="")
                    .content
                        p
                            b Bước 2
                        p Chọn nhóm Khách hàng
            li.step 
                a.step_child(href="thiet-lap-nhom-giai-thuong.html")
                    .icon.created
                            img(src="./images/icons/c-3.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-3.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-3.svg", alt="")
                    .content
                        p
                            b Bước 3
                        p Chọn nhóm Giải thưởng
            li.step 
                a.step_child(href="chon-giao-dien.html")
                    .icon.created
                            img(src="./images/icons/c-4.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-4.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-4.svg", alt="")
                    .content
                        p
                            b Bước 4
                        p Chọn giao diện vòng quay

