section.step-section 
    .wrapper-container
        ul.progress-wrap
            li.step.active
                a.icon.created(href='')
                        img(src="./images/icons/c-1.svg", alt="") 
                a.icon.disable(href='') 
                        img(src="./images/icons/d-1.svg", alt="")
                a.icon.finished(href='')
                        img(src="./images/icons/f-1.svg", alt="")
                a.content(href="")
                    p
                        b Bước 1
                    p Tạo chiến lược 
            li.step 
                a.icon.created(href='')
                    img(src="./images/icons/c-2.svg", alt="") 
                a.icon.disable(href='') 
                    img(src="./images/icons/d-2.svg", alt="")
                a.icon.finished(href='')
                    img(src="./images/icons/f-2.svg", alt="")
                a.content(href="")
                    p
                        b Bước 2
                    p Chọn nhóm Khách hàng
            li.step 
                a.icon.created(href='')
                    img(src="./images/icons/c-3.svg", alt="") 
                a.icon.disable(href='') 
                    img(src="./images/icons/d-3.svg", alt="")
                a.icon.finished(href='')
                    img(src="./images/icons/f-3.svg", alt="")
                a.content(href="")
                    p
                        b Bước 3
                    p Chọn nhóm Giải thưởng
            li.step 
                a.icon.created(href='')
                    img(src="./images/icons/c-4.svg", alt="") 
                a.icon.disable(href='') 
                    img(src="./images/icons/d-4.svg", alt="")
                a.icon.finished(href='')
                    img(src="./images/icons/f-4.svg", alt="")
                a.content(href="")
                    p
                        b Bước 4
                    p Chọn giao diện vòng quay

