section.step-section 
    .wrapper-container
        ul.progress-wrap
            li.step.active
                a.step_child(href="tao-chien-luoc.html")
                    .icon.created
                            img(src="./images/icons/c-1.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-1.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-1.svg", alt="")
                    .content
                        p
                            b Bước 1
                        p Tạo chiến lược 
            li.step.active
                a.step_child(href="chon-nhom-khach-hang.html")
                    .icon.created
                            img(src="./images/icons/c-2.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-2.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-2.svg", alt="")
                    .content
                        p
                            b Bước 2
                        p Chọn nhóm Khách hàng
            li.step.active 
                a.step_child(href="thiet-lap-nhom-giai-thuong.html")
                    .icon.created
                            img(src="./images/icons/c-3.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-3.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-3.svg", alt="")
                    .content
                        p
                            b Bước 3
                        p Chọn nhóm Giải thưởng
            li.step 
                a.step_child(href="chon-giao-dien.html")
                    .icon.created
                            img(src="./images/icons/c-4.svg", alt="") 
                    .icon.disable
                            img(src="./images/icons/d-4.svg", alt="")
                    .icon.finished
                            img(src="./images/icons/f-4.svg", alt="")
                    .content
                        p
                            b Bước 4
                        p Chọn giao diện vòng quay
section.choice-customer
    .wrapper-container
        .wrap-sort.d-flex.align-items-center 
            h1.title-small Nhóm giải thưởng
            .custom-select
                select.form-control(name='')
                    option(value="0" disable selected hidden) Giải 1 ngày 1/10
                    option(value="1") Giải 1 ngày 1/10
                    option(value="2") Giải 2 ngày 11/10
                    option(value="3") Giải 3 ngày 12/10
                    option(value="4") Giải 4 ngày 15/10
            button.btn.btn-add.ms-3(type='submit' data-fancybox data-src='#popup-addgiftgroup')
                img(src="./images/icons/add.svg", alt="")
                span &nbsp;Thêm mới
        .wrap-body.active
            .wrap-body_header.d-flex.align-items-center.justify-content-between 
                h1.title-small Danh sách Khách hàng
                .wrap-button.d-flex.align-items-center 
                    button.btn.btn-search 
                        img(src="./images/icons/search.svg", alt="")
                    button.btn.btn-add(data-fancybox data-src='#popup-addgift')
                        img(src="./images/icons/add.svg", alt="")
                        span &nbsp;Thêm mới
                    button.btn.btn-upload(type='submit') 
                        img(src="./images/icons/cloud-upload.svg", alt="")
                        span &nbsp;Tải lên
            .wrap-body_table  
                table(style='display: table')
                    tr
                        th
                            .sort
                                p Tên giải thưởng
                                img(src="./images/icons/sort.svg", alt="")
                        th
                            p Hình ảnh
                        th
                            p Vị trí giải thưởng
                        th
                            p Cho phép trúng
                        th
                            p Tỉ lệ trúng (%)
                        th
                            p Số lượng giải
                        th
                            p Ẩn giải
                        th
                    -for(i=1; i<5; i++)
                        tr
                            td
                                p Giải 1
                            td
                                img.icon(src="./images/bg-review.jpg", alt="")
                                span url
                            td
                                p 2
                            td
                                p False
                            td
                                p 100
                            td
                                p 1
                            td
                                p False
                            td
                                button.btn.btn-edit(data-fancybox data-src='#popup-editgift')
                                    img(src="./images/icons/edit2.svg", alt="alt")
                table(style='display: none')
                    tr
                        th
                            .sort
                                p Tên giải thưởng
                                img(src="./images/icons/sort.svg", alt="")
                        th
                            p Màu sắc
                        th
                            p Vị trí giải thưởng
                        th
                            p Cho phép trúng
                        th
                            p Tỉ lệ trúng (%)
                        th
                            p Số lượng giải
                        th
                            p Ẩn giải
                        th
                    tr
                        td
                            p Giải 1
                        td
                            span.color-box.color-box-blue
                            span #80C2FF
                        td
                            p 2
                        td
                            p False
                        td
                            p 100
                        td
                            p 1
                        td
                            p False
                        td
                            button.btn.btn-edit(data-fancybox data-src='')
                                img(src="./images/icons/edit2.svg", alt="alt")
                    tr
                        td
                            p Giải 1
                        td
                            span.color-box.color-box-green
                            span #ABD653
                        td
                            p 2
                        td
                            p False
                        td
                            p 100
                        td
                            p 1
                        td
                            p False
                        td
                            button.btn.btn-edit(data-fancybox data-src='')
                                img(src="./images/icons/edit2.svg", alt="alt")
                    tr
                        td
                            p Giải 1
                        td
                            span.color-box.color-box-red
                            span #FCA5A6
                        td
                            p 2
                        td
                            p False
                        td
                            p 100
                        td
                            p 1
                        td
                            p False
                        td
                            button.btn.btn-edit(data-fancybox data-src='')
                                img(src="./images/icons/edit2.svg", alt="alt")
                    tr
                        td
                            p Giải 1
                        td
                            span.color-box.color-box-yellow
                            span #F1E384
                        td
                            p 2
                        td
                            p False
                        td
                            p 100
                        td
                            p 1
                        td
                            p False
                        td
                            button.btn.btn-edit(data-fancybox data-src='')
                                img(src="./images/icons/edit2.svg", alt="alt")
                
                .wrap-nonedb
                    img.icon(src="./images/folder.png", alt="")
                    a(href="") 
                        h5 Tạo danh sách khách hàng
                        p Hãy thêm mới khách hàng
                nav.pagination-nav.d-flex.align-items-center
                    ul.pagination.d-flex.align-items-center.ms-auto  
                        li.page-item.ms-auto
                            a.page-link(href='#')
                                em.material-icons navigate_before
                        li.page-item.active
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#')
                                em.material-icons navigate_next
                .wrap-button.d-flex.align-items-center 
                    button.btn.btn-backstep(type='submit') 
                        img(src="./images/icons/back.svg", alt="")
                        span Quay lại
                    button.btn.btn-submit(type='submit') 
                        span Tiếp tục tạo chiến lược
                        em.material-icons arrow_forward
include ../popup/addgift.pug
include ../popup/editgift.pug
include ../popup/addgiftgroup.pug

