section.login-bg 
    .wrapper-container.d-flex.align-items-center 
        .wrapper-left
            .logo 
                a(href="")
                    img(src="./images/logo.png", alt="")
            .img-bg
                img(src="./images/login-bg.png", alt="")
        .wrapper-right 
            .wrapper-content 
                .wrap-header.d-flex
                    .title-login 
                        p Chào mừng bạn đến với 
                        h1 Admin panel
                form.wrap-form(action="")
                    .form-group.d-flex 
                        label(for="") Tên Đăng Nhập
                        input.form-control(type="text" placeholder="Nhập tên user")
                    .form-group.d-flex 
                        label(for="") Nhập Mật khẩu
                        input.form-control(type="text" placeholder="Nhập mật khẩu")
                        img.icon(src="./images/icons/eye.svg", alt="" )
                    button.btn.btn-submit 
                        span Đăng Nhập
                    a.forgot-password(href="") Bạn quên mật khẩu ?
