section.main-wrapper.page-circle.opt-1
    .wrapper-container.d-flex.align-items-center.justify-content-center
        .wrap-circle
            .circle 
                .block-img
                    img(src="./images/circle.gif", alt="")
                .block-arrow 
                    img(src="./images/arrow.png", alt="")
            .button 
                button.btn.btn-submit 
                    span QUAY NGAY
#modal
    .modal-content
        h1 CHÚC MỪNG BẠN ĐÃ THẮNG GIẢI HẠNG 1 : ...................